/* Set Roma theme colors */
$mdc-theme-primary: #225688;
$mdc-theme-secondary: #3572ad;
$mdc-theme-accent: #d2aa28;
$mdc-theme-background: #fff;
$romajs-theme-classes: #ffb140;
$romajs-theme-datatypes: #4842b8;
$romajs-theme-macros: #2db283;
$romajs-theme-yes: #1b8c64;
$romajs-theme-no: #802900;

@import "material-design-lite/src/chip/_chip";

// @import "@material/animation/mdc-animation";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/checkbox/mdc-checkbox";
@import "@material/dialog/mdc-dialog";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/fab/mdc-fab";
@import "@material/form-field/mdc-form-field";
@import "@material/grid-list/mdc-grid-list";
@import "@material/icon-toggle/mdc-icon-toggle";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/radio/mdc-radio";
@import "@material/ripple/mdc-ripple";
@import "@material/select/mdc-select";
@import "@material/snackbar/mdc-snackbar";
@import "@material/switch/mdc-switch";
@import "@material/textfield/mdc-text-field";
@import "@material/theme/mdc-theme";
@import "@material/toolbar/mdc-toolbar";
@import "@material/typography/mdc-typography";
@import "@material/tabs/mdc-tabs.scss";
@import "@material/linear-progress/mdc-linear-progress";

/* COLORS */
.romajs-color-no {
  color: $romajs-theme-no;
}

.romajs-color-yes {
  color: $romajs-theme-yes;
}

a, a:hover, a:visited, a:focus a:active {
  color: $mdc-theme-primary;
}

/* Typography overrides */
.mdc-typography--headline, .mdc-typography--subheading1 {
  margin-left: 20px;
}

/* Make sure dialogs are above everything */
.mdc-dialog {
  z-index: 99;
}

/* Make sure secondary text in lists DOES wrap */
.mdc-list-item {
  white-space: normal;
  height: auto;
}
.mdc-list--two-line.mdc-list--dense .mdc-list-item {
  height: auto;
}

/* Ensure layout covers the entire screen. */
html {
  height: 100%;
}

/* Place drawer and content side by side. */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#romajs > div {
  display: flex;
  flex-direction: row;
}

/* Stack toolbar and main on top of each other. */
.romajs-content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  margin: 64px 0 0 0;
}

main {
  margin-top: 70px;
}

/* TOOLBAR */
.romajs-toolbar {
  z-index: 99 !important;
  .mdc-toolbar__section--align-end .material-icons {
    padding-right: 20px;
    cursor: pointer;
  }
}

/* SECONDARY TOOLBAR */
.romajs-toolbar2 {
  padding: 10px 10px 10px 20px;
  background-color: $mdc-theme-secondary;
  top: auto;
  z-index: 5;

  .mdl-chip {
    margin-right: 10px;
  }

  .romajs-active {
    background-color: $mdc-theme-accent;
  }

}

/* SEARCHBAR */
.romajs-searchbar{
  .mdl-chip__action {
    margin: 0 0 10px 0;
  }
  .mdc-text-field__input {
    padding: 0px;
  }
}

/* ITEMS */
.romajs-itemlist {
  .mdc-list-item__text {
    padding-right: 20px;
    width: 85%;
  }
  .mdc-list-item__end-detail {
    margin-right: 15px;
    width: 10%;
    min-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

/* CARDS */
.romajs-card {
  max-height: 300px;
  min-height: 300px;
  justify-content: flex-start;

  .mdc-card__supporting-text {
    overflow-y: auto;
    margin-bottom: 24px;
  }

  .mdc-card__title--large {
    padding-top: 3px;
  }

  h1 {
    float:left;
  }

  .mdc-form-field {
    float: right;
  }

  .romajs-elementIdent {
    padding-top: 20px;
  }

}

/* TEXTFIELDS */

.romajs-form {
  label {
    display: block;
  }
  .mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box):not(.mdc-text-field--textarea) {
    margin-top:0px !important;
    height: 40px !important;
  }
}

.romajs-formrow {
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

/* HOMEBOX */
.romajs-homebox {
  width: 75%;
}

.romajs-hero {
  display: flex;
  justify-content: center;
}

/* LOADER */
.romajs-loader {
  img {
    width: 5%;
    vertical-align: middle;
  }
  font-size: 110%;
  font-weight: bold;
}

/* DOWNLOAD MENU */
.romajs-download-menu {
  position: absolute;
  z-index: 10;
  transform-origin: right top 0px !important;
  right: 12px;
  top: 50px !important;
  left: auto !important;
}

/* Ace editor */
.ace_editor {
  border: 1px solid lightgrey;

  .ace_active-line {
    background-color: transparent !important;
  }

  .romajs-ace-readonly {
    background-color:  #cccccc;
  }

}

/* EDITABLE LISTS */
.romajs-editable-list {
  min-width: 0; // FFOX fix
  .romajs-editable-list-add {
    padding: 16px 0 0 16px;
  }
}

/* Utils */
.romajs-clickable, .romajs-clickable-adjust {
  cursor: pointer;
}

.romajs-clickable-adjust {
  vertical-align: middle;
}

/* Tabs */
.romajs-tabPanels {
  padding: 0 20px 20px 20px;
}

/* Picker */
.romajs-picker {
  max-height: 200px;
  overflow-y: scroll;
}

/* Blockly */
.romajs-blockly {
  height: 300px;
}

/* Attributes */
.romajs-att-overridden {
  // opacity: 0.4;
  // pointer-events: none;
}

.romajs-att-deleted {
  opacity: 0.4;
  pointer-events: none;
}

.romajs-att-noeffect {
  opacity: 0.4;
  pointer-events: none;
  color: red;
}

.romajs-localatt {
  color: red;
}

/* Dashboard */
.romajs-squares {

  margin: 0 0 0 20px;

  .mdc-grid-tile__primary {
    background-color: $mdc-theme-secondary;
    span {
      color: white;
      font-weight: 500;
      font-size: 1.3rem;
      margin: .5em;
      display: inline-block;
    }
  }
  
}

.romajs-classbackground {
    background-color: $romajs-theme-classes !important;
    span {
      color: black !important;
    }
  }
